@import '../../styles/variables';
@import '../../styles/mixins/mixins';

.layout {
  @include page-layout;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@include mobile-large-up {
  .layout {
    gap: var(--spacing-5);
    padding: var(--spacing-5) 0 var(--padding-base) 0;
  }

  .settings {
    gap: var(--spacing-5);
  }
}
