@import '../../styles/variables';

.answerDisplay {
  padding: 20px 40px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 2px solid rgba(229, 229, 229, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.answer {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--color, $gold);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
