.answerDisplay {
  display: flex;
  justify-content: center;
  min-width: 8rem;
  max-width: 15rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-border-light);
}

.answer {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--color-text-primary);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
