@import '../../../styles/mixins/breakpoints';

.statusIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;

  &.correct {
    background-color: rgba(16, 185, 129, 0.15);
    border: 1px solid rgba(16, 185, 129, 0.3);
  }

  &.incorrect {
    background-color: rgba(239, 68, 68, 0.15);
    border: 1px solid rgba(239, 68, 68, 0.3);
  }
}

.statusIcon {
  font-size: 1rem;
  font-weight: 700;

  .correct & {
    color: var(--color-correct);
  }

  .incorrect & {
    color: var(--color-incorrect);
  }
}
