@import '../../../styles/variables';
@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/breakpoints';

.page {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem 0 1rem;
  background-color: var(--color-bg-secondary);
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  @include page-layout-animation;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
