@import '../../../../../styles/mixins/mixins';
@import '../../../../../styles/mixins/breakpoints';

.card {
  display: flex;
  flex-direction: column;
  font-size: var(--text-2);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans), sans-serif;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  opacity: 0.8;
  color: var(--color-primary-400);
}

.text {
  font-weight: 400;
}

@include tablet-up {
  .footer {
    flex-direction: row;
    align-items: center;
  }
}
