@import '../../styles/variables';
@import '../../styles/mixins/mixins';
@import '../../styles/mixins/breakpoints';

.layout {
  @include page-layout;
}

.progressAside {
  backdrop-filter: blur(10px);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.questionSection,
.controlsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
  border: var(--border-base);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  background-color: var(--color-bg-primary);
  background-image: var(--gradient-primary);
  @include neon-line-on-top;
}

.questionSection {
  padding: 1rem var(--spacing-10);
}

.controlsSection {
  padding: 1rem var(--padding-base);
}

.hintText {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans), sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 0.8;
}

@include mobile-large-up {
  .layout {
    gap: var(--spacing-5);
    padding: var(--spacing-5) 0 var(--padding-base) 0;
  }

  .content {
    gap: var(--spacing-5);
  }

  .questionSection,
  .controlsSection  {
    padding: 1.5rem var(--spacing-5);
  }
}
