@import '../../styles/variables';
@import '../../styles/mixins/mixins';
@import '../../styles/mixins/breakpoints';

.layout {
  @include page-layout;
}

.progressAside {
  backdrop-filter: blur(10px);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questionSection,
.controlsSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem var(--padding-base);
  border: var(--border-base);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  background-color: var(--color-bg-primary);
  background-image: var(--gradient-primary);
  position: relative;
  @include neon-line-on-top;
}

.example {
  flex: 0 0 50%;
  min-width: max-content;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  font-size: var(--text-3xl);
  font-weight: 100;
  letter-spacing: 0.5rem;
}

.answer {
  flex: 1 0 0;
  min-width: 0;
  max-width: none;
  padding: 0.25rem 1rem 0.25rem 0;
  font-size: var(--text-3xl);
  font-weight: 100;
  letter-spacing: -0.02em;
}

.controlsSection {
  flex-direction: column;
}

@include mobile-large-up {
  .layout {
    gap: var(--spacing-5);
    padding: var(--spacing-5) 0 var(--padding-base) 0;
  }

  .content {
    gap: var(--spacing-5);
  }

  .questionSection,
  .controlsSection {
    padding: 1.5rem var(--spacing-5);
  }
}
