@import '../../styles/mixins';

.difficultyButtons {
  @include container(difficultyButtons, inline-size);

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 20px 0;

  @include tablet-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 30px 0;
  }
}
