@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  @include mobile-large-up {
    width: 30rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  margin: 0 0 6rem 0;
  background-color: var(--color-bg-secondary);

  @include mobile-large-up {
    border: var(--border-base);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-card);
  }
}

.main {
  width: 100%;
}
