@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  max-width: 480px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  margin: 0 0 6rem 0;
  background-color: var(--color-bg-secondary);
}

.main {
  width: 100%;
}

@include mobile-large-up {
  .container {
    padding: 0 1rem 0 1rem;
  }

  .content {
    border: var(--border-base);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-card);
  }
}

@include tablet-up {
  .container {
  }
}
