@import '../../../styles/mixins/breakpoints';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;

  @include mobile-large-up {
    width: 30rem;
  }
}

.main {
  flex: 1 0 auto;
  width: 100%;
  padding-bottom: 4rem;
}
