@import '../../../styles/mixins';

.button {
  padding: 15px 30px;
  font-size: 1.1em;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include tablet-up {
    padding: 15px 40px;
    font-size: 1.2em;
    border-radius: 25px;
  }

  &.active {
    transform: translateY(-2px);
  }

  &:hover {
    transform: translateY(-2px);
  }
}