.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2rem 1rem;
}

.content {
  width: min(24rem, 100%);
  min-height: 100vh;
}
