@import '../../styles/mixins/breakpoints';

.keyboard {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 72px));
  justify-content: center;
  gap: 0.6rem;
  max-width: fit-content;
  margin: 0 auto;

  @include tablet-up {
    grid-template-columns: repeat(3, minmax(72px, 90px));
  }
}

.bottomRow {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6rem;
}
