@import '../../styles/mixins';

.keyboard {
  max-width: 250px;
  margin: 0.2rem auto;

  @include tablet-up {
    max-width: 300px;
  }
}

.row {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 0.4rem;
}
