.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  padding: 0 1rem;
  font-weight: 100;
  color: var(--color-text-primary);
}

.score {
  font-size: 1.3rem;
}

.accuracy {
  font-size: 1.3rem;
}
