@import '../../../styles/variables';

.settingsButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: $text-primary;
  transition: all 0.2s;

  &:hover {
    color: $text-secondary;
    transform: scale(1.3);
  }

  &:active {
    transform: scale(0.95);
  }
}
