@import '../../../../../../styles/mixins/breakpoints';

.meterMarkers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  margin: 0 3px 0 2px;
}

.marker {
  position: absolute;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.marker:first-child {
  .markerLabel {
    transform: translateX(50%);
  }
}

.marker:last-child {
  .markerLabel {
    transform: translateX(-50%);
    margin-right: 0.125rem;
  }
}

.markerLine {
  width: 1px;
  height: 0.375rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  margin-top: 0.25rem;
  opacity: 0.7;
}

.markerLabel {
  font-size: var(--text-2);
  font-weight: 500;
  color: var(--color-primary-600);
  font-family: var(--font-family-mono), sans-serif;
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.5),
    0 0 4px rgba(168, 85, 247, 0.3);
  white-space: nowrap;
  opacity: 0.8;
}

@include mobile-large-up {
  .meterMarkers {
    margin: 0 2px;
  }

  .marker:first-child {
    left: 0.75%;
  }

  .marker:last-child {
    left: 99.25%;
  }

  .markerLabel {
    margin-top: 0.125rem;
    font-size: 0.75rem;
  }
}

@include tablet-up {
  .meterMarkers {
    margin: 0 3px;
  }

  .marker:first-child {
    left: 1%;
  }

  .marker:last-child {
    left: 99%;
  }
}
