@import '../../styles/mixins/breakpoints';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 0.4rem;
  border-radius: 0.25rem;

  @include tablet-up {
    padding: 1rem;
  }

  &.correct {
    background-color: var(--color-correct-light);
  }

  &.incorrect {
    background-color: var(--color-incorrect-light);
  }
}

.question {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-weight: 400;
}

.correctAnswer {
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-text-primary);
  margin-left: auto;
}
