@import '../../styles/mixins';

.app {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;

  @include tablet-up {
    max-width: 90%;
    padding: 15px;
    font-size: 15px;
  }

  @include desktop-up {
    max-width: 800px;
    padding: 20px;
    font-size: 16px;
  }
}