@import '../../../../../styles/mixins/mixins';
@import '../../../../../styles/mixins/breakpoints';

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0.3rem;
  min-width: 0;
}

.question {
  font-size: var(--text-8);
  font-family: var(--font-family-sans), sans-serif;
  font-weight: 100;
  color: var(--color-text-secondary);
  letter-spacing: 0.3rem;
  white-space: nowrap;
  position: relative;

  .display[data-has-question='false'] & {
    color: var(--color-text-secondary);
    opacity: 0.5;

    &::before {
      content: 'Подождите...';
      font-family: var(--font-family-sans), sans-serif;
      font-size: var(--text-4);
      letter-spacing: 0;
    }
  }
}
