@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.keyboard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  overflow: hidden;
  border: var(--border-base);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  background-color: var(--color-bg-secondary);
}

.keyboardGrid,
.bottomRow {
  display: grid;
  gap: var(--spacing-1);
  width: 100%;
}

.keyboardGrid {
  grid-template-columns: repeat(3, 1fr);
}

.bottomRow {
  grid-template-columns: 1fr 1fr 1fr;
}

@include mobile-large-up {
  .keyboard {
    gap: var(--spacing-3);
    padding: 1rem var(--spacing-8);
  }

  .keyboardGrid,
  .bottomRow {
    gap: var(--spacing-3);
  }
}
