@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.keyboard {
  --key-gap: 0.25rem;

  display: flex;
  flex-direction: column;
  gap: var(--key-gap);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  overflow: hidden;
  @include card;

  @include tablet-up {
    --key-gap: 0.5rem;

    padding: 2rem;
  }
}

.keyboardGrid,
.bottomRow {
  display: grid;
  gap: var(--key-gap);
  width: 100%;
}

.keyboardGrid {
  grid-template-columns: repeat(3, 1fr);
}

.bottomRow {
  grid-template-columns: 1fr 1fr 1fr;
}
