@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.keyboard {
  display: flex;
  flex-direction: column;
  gap: var(--radius-1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem var(--padding-base);
  overflow: hidden;
  border: var(--border-base);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  background-color: var(--color-bg-secondary);

  @include tablet-up {
    padding: 2rem;
  }
}

.keyboardGrid,
.bottomRow {
  display: grid;
  gap: var(--radius-1);
  width: 100%;
}

.keyboardGrid {
  grid-template-columns: repeat(3, 1fr);
}

.bottomRow {
  grid-template-columns: 1fr 1fr 1fr;
}
