@import '../../../styles/mixins/mixins';

.settingsPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--panel-padding);
  @include card-dark;
  @include neon-line-on-top;
}
