@import '../../../../../styles/mixins/mixins';
@import '../../../../../styles/mixins/breakpoints';

.header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 0 0.5rem 0;
  @include neon-line-on-bottom;
}

.title {
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
  font-size: var(--text-4);
  font-weight: 300;
  line-height: 1;
  color: var(--color-text-primary);
  font-family: var(--font-family-sans), sans-serif;
  letter-spacing: -0.01em;
}

.listStats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

@include mobile-large-up {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1.25rem 0;
  }

  .listStats {
    grid-template-columns: repeat(3, auto);
    gap: 0.75rem;
  }
}
