@import '../../styles/variables';

.game {
  font-size: clamp(0.8rem, 2.5vw + 1rem, 1rem);
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  background-color: $bg-primary;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;
}
