@import '../../../styles/mixins/breakpoints';
@import '../../../styles/mixins/transitions';

.modeOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.transitioning {
    pointer-events: none;

    .option {
      @include transition-all(var(--transition-duration-fast), var(--transition-easing-decelerate));
    }
  }
}
