.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
  padding: 0.5rem;
}

.modal {
  background: var(--color-bg-primary);
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
  max-width: 500px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem 0;
}

.modalTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--color-text-primary);
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-purple-primary);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;

  &:hover {
    color: var(--color-purple-secondary);
    transform: scale(1.3);
  }
}

.modalContent {
  padding: 1.5rem 1rem;
}
