.header {
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border-light);
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
}

.headerContent {
  display: flex;
  align-items: center;
}

.gameInfo {
  display: flex;
  flex: 2;
}

.title {
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--color-text-primary);
  text-align: center;
  margin: 0;
}

.homeButton,
.settingsButton {
  flex: 1;
  display: flex;
}

.homeButton {
  justify-content: flex-start;
}

.settingsButton {
  justify-content: flex-end;
}
