@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/transitions';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-secondary);
  padding: 0 0 1rem 0;
  @include line-on(bottom);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  font-family: var(--font-family-display), sans-serif;
  font-size: var(--text-3xl);
  font-weight: 300;
  background-image: linear-gradient(
    90deg,
    var(--color-primary-900) 0%,
    var(--color-primary-600) 25%,
    var(--color-primary-600) 75%,
    var(--color-primary-900) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -0.025em;
  margin: 0;
}

.home,
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  @include transition-all();
}
