@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/transitions';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-secondary);
  padding: 0 0 0.5rem 0;
  position: relative;
  @include neon-line-on-bottom;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  font-family: var(--font-family-display), sans-serif;
  font-size: var(--text-8);
  font-weight: 300;
  background-image: linear-gradient(
    90deg,
    var(--color-primary-900) 0%,
    var(--color-primary-600) 25%,
    var(--color-primary-600) 75%,
    var(--color-primary-900) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -0.025em;
  margin: 0;
  animation: fadeIn var(--transition-duration-slow) var(--transition-easing) 0.1s forwards;
  opacity: 0;
}

.home,
.settings {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.home {
  justify-content: flex-start;
}

.settings {
  justify-content: flex-end;
}

.homeButton,
.settingsButton {
  animation: fadeIn var(--transition-duration-slow) var(--transition-easing) 0.2s forwards;
  opacity: 0;
}
