.header {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-light);
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--color-text-primary);
  margin: 0;
}

.homeButton,
.settingsButton {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.homeButton {
  justify-content: flex-start;
}

.settingsButton {
  justify-content: flex-end;
}
