@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/transitions';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  font-family: var(--font-family-display), sans-serif;
  font-size: var(--text-8);
  font-weight: 300;
  background-image: var(--gradient-neon-title);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -0.025em;
  margin: 0;
  animation: fadeIn var(--transition-duration-slow) var(--transition-easing) var(--transition-delay)
    forwards;
  opacity: 0;
}

.home,
.settings {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.home {
  justify-content: flex-start;
}

.settings {
  justify-content: flex-end;
}

.homeButton,
.settingsButton {
  animation: fadeIn var(--transition-duration-slow) var(--transition-easing) var(--transition-delay)
    forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
