.key {
  aspect-ratio: 1 / 1;
  background-image: linear-gradient(
    110deg,
    var(--color-primary-900) 0%,
    var(--color-primary-800) 20%,
    var(--color-primary-900) 50%
  );

  &:hover {
    background-image: linear-gradient(
      110deg,
      var(--color-primary-800) 0%,
      var(--color-primary-700) 20%,
      var(--color-primary-800) 50%
    );
  }
}
