@import '../../styles/mixins';

.example {
  display: flex;
  justify-content: center;
}

.question {
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px 0;
  color: #333;

  @include tablet-up {
    font-size: 3em;
    margin: 30px 0;
  }

  @include desktop-up {
    font-size: 4em;
    margin: 40px 0;
  }
}

.answerDisplay {
  font-size: 2em;
  font-weight: bold;
  margin: 15px 0;
  min-height: 60px;
  color: #667eea;
  border-bottom: 2px solid #667eea;
  display: inline-block;
  padding: 0 15px;

  @include tablet-up {
    font-size: 2.5em;
    margin: 20px 0;
    padding: 0 20px;
    min-height: 70px;
    border-bottom-width: 3px;
  }

  @include desktop-up {
    font-size: 3em;
    min-height: 80px;
  }
}