@import '../../styles/mixins';
@import '../../styles/variables';

.example {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
}

.question {
  color: $text-primary;
}

.answerDisplay {
  color: $purple-primary;
}
