@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  border: 1px solid $border-light;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  font-size: 1em;

  @include tablet-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    font-size: 1.1em;
  }
}
