@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.keyboard {
  padding: 0.75rem 2rem;
}

.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.25rem;
  max-width: 400px;
  padding: 0.5rem;

  grid-template-areas:
    'key1 key2 key3'
    'key4 key5 key6'
    'key7 key8 key9'
    'keyClear key0 keyBackspace'
    'keySubmit keySubmit keySubmit';
}

.key1 {
  grid-area: key1;
}
.key2 {
  grid-area: key2;
}
.key3 {
  grid-area: key3;
}
.key4 {
  grid-area: key4;
}
.key5 {
  grid-area: key5;
}
.key6 {
  grid-area: key6;
}
.key7 {
  grid-area: key7;
}
.key8 {
  grid-area: key8;
}
.key9 {
  grid-area: key9;
}
.keyClear {
  grid-area: keyClear;
}
.key0 {
  grid-area: key0;
}
.keyBackspace {
  grid-area: keyBackspace;
}
.keySubmit {
  grid-area: keySubmit;
}
