.icon {
  overflow: visible;

  .circle {
    stroke-width: 1;
    stroke-linecap: round;
    stroke-opacity: 0.9;
  }

  .cross1,
  .cross2 {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-opacity: 0.9;
  }
}
