.icon {
  overflow: visible;

  .box {
    stroke-width: 1.2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 0.9;
  }

  .cross {
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-opacity: 0.9;
  }
}
