.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem 0 0 0;
  position: relative;
  animation: slideIn 0.2s ease-out;
}

.exampleSection,
.keyboardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-bg-primary);
  border-radius: 0.25rem;
  padding: 1rem;
}

.exampleSection {
  gap: 2rem;
}

.keyboardSection {
  gap: 1rem; 
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
