@import '../../../../styles/mixins/breakpoints';

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap-base);
}

.titleText {
  margin: 0;
  font-size: var(--text-xl);
  font-weight: 100;
  color: var(--color-text-primary);
  font-family: var(--font-family-sans), sans-serif;
  letter-spacing: -0.01em;
}

.valueIndicator {
  background-color: var(--color-surface-panel);
  border: var(--border-base);
  border-radius: var(--radius-card-small);
  padding: 0.5rem 1rem;
  text-align: center;
  align-self: stretch;
}

.valueLabel {
  font-size: var(--text-xl);
  font-weight: 100;
  color: var(--color-primary-400);
  font-family: var(--font-family-mono), sans-serif;
}

@include mobile-large-up {
  .title {
  }

  .titleText {
  }

  .valueLabel {
    font-size: var(--text-2xl);
  }
}

@include tablet-up {
  .title {
    flex-direction: row;
    align-items: center;
  }

  .titleText {
  }

  .valueLabel {
  }
}
