@import '../../../../styles/mixins/breakpoints';

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap-base);
  padding: 0 0 0.5rem 0;
}

.titleText {
  margin: 0;
  padding: 0 0 0.25rem 0;
  font-size: var(--text-4);
  font-weight: 100;
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans), sans-serif;
  letter-spacing: -0.01em;
}

.label {
  min-width: 10rem;
  padding: 0.4rem 1rem;
  text-align: center;
  align-self: center;
}

.labelText {
  font-size: var(--text-6);
  font-weight: 100;
  color: var(--color-primary-500);
  font-family: var(--font-family-sans), sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}
