@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/breakpoints';

.correction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.correctValue {
  font-size: var(--text-3);
  font-weight: 400;
  color: var(--color-primary-400);
}
