@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/breakpoints';

.correction {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  height: var(--result-box-height);
  padding: 0 0.5rem;
  border: var(--border-base);
  background-color: var(--color-surface-panel);
  border-radius: var(--radius-card-small);
}

.correctionIcon {
  font-size: var(--result-font-size-small);
  color: var(--color-primary-400);
  opacity: 0.9;
  display: none;

  @include mobile-large-up {
    display: inline;
  }
}

.correctionFullText {
  display: none;
  font-size: var(--result-font-size-small);
  font-weight: 500;
  color: var(--color-text-secondary);
  font-family: var(--font-family-mono), sans-serif;

  @include mobile-large-up {
    display: inline;
  }
}

.correctionCompactText {
  display: inline;

  @include mobile-large-up {
    display: none;
  }
}

.correctionText {
  font-size: var(--result-font-size-small);
  font-weight: 500;
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans), sans-serif;
  white-space: nowrap;
}

.correctValue {
  font-size: var(--result-font-size);
  font-weight: 500;
  color: var(--color-primary-400);
  font-family: var(--font-family-mono), sans-serif;
}
