.startPage {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  animation: slideIn 0.5s ease-out;
}

.title {
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--color-text-primary);
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settingGroup {
}

.startButton {
  display: flex;
  justify-content: center;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
