.startPage {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0 0 0;
  animation: slideIn 0.2s ease-out;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.startButton {
  display: flex;
  justify-content: center;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
