.startPage {
  min-height: 60vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--color-text-primary);
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settingGroup {
}

.startButton {
  display: flex;
  justify-content: center;
}
