.button {
  color: var(--color-text-primary);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(2rem, 8vw, 3rem);
  height: clamp(2rem, 8vw, 3rem);

  svg {
    stroke-width: 2;
    width: 100%;
    height: 100%;
    max-width: 1.6rem;
    max-height: 1.6rem;
  }

  &:hover {
    transform: scale(1.2);
  }
}
