@import '../../styles/mixins/breakpoints';

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 24rem;

  @include tablet-up {
    max-height: 30rem;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-bg-primary);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-bg-primary);
    border-radius: 3px;
  }
}
