@import '../../styles/mixins/breakpoints';

.resultsList {
  max-height: 300px;
  overflow-y: auto;
  margin: 20px 0;
  text-align: left;

  @include tablet-up {
    max-height: 400px;
    margin: 30px 0;
  }
}
