.bars {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.barContainer {
  height: 1rem;
  position: relative;
}

.timeBar,
.questionsBar {
  height: 100%;
  width: 0;
  position: relative;
  transition: width 0.3s ease-in-out;
  overflow: visible;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 200% 100%;
    animation: gradientFlow 3s ease infinite;
    border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
  }
}

.timeBar::before {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 50%, #4facfe 100%);
}

.questionsBar::before {
  background: linear-gradient(90deg, #805ad5 0%, #9f7aea 50%, #805ad5 100%);
}

@keyframes gradientFlow {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
