@import '../../styles/variables';

.progressContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0 2rem;
}

.bars {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.barContainer {
  height: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.bar {
  height: 100%;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.2) 80%,
      transparent 100%
    );
    animation: shine 2s infinite;
  }
}

.timeBarContainer {
  composes: barContainer;
}

.timeBar {
  composes: bar;
  transition:
    width 0.9s ease,
    background-color 0.3s ease;
}

.questionsBarContainer {
  composes: barContainer;
}

.questionsBar {
  composes: bar;
  background: $purple-primary;
  transition: width 0.7s ease-in-out;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
