.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: slideIn 0.5s ease-out;
}

.title {
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--color-text-primary);
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  color: var(--color-text-primary);
  text-align: center;
}
.resultButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
