@import '../../../styles/mixins';

.resultsScreen {
  text-align: center;
}

.resultButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;

  @include tablet-up {
    flex-direction: row;
    align-items: start;
  }
}
