$mobile: 320px;
$mobile-large: 480px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

$container-breakpoints: (
  'xs': 320px,
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

//$breakpoints: (
//  'mobile': 375px,
//  'tablet': 768px,
//  'desktop': 1024px,
//  'wide': 1440px,
//) !default;

//@mixin breakpoint($name) {
//  @if map-has-key($breakpoints, $name) {
//    @media (min-width: map-get($breakpoints, $name)) {
//      @content;
//    }
//  } @else {
//    @warn "Breakpoint `#{$name}` not found in $breakpoints map.";
//  }
//}

@mixin mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 992px) {
    @content;
  }
}
