@import '../variables';

// Миксин для создания контейнера
@mixin container($name: null, $type: inline-size) {
  container-type: $type;

  @if $name {
    container-name: $name;
  }
}

// Миксин для контейнерных запросов
@mixin when-container($min-width: null, $max-width: null, $name: null) {
  $query: '';

  @if $min-width and $max-width {
    $query: '(min-width: #{$min-width}) and (max-width: #{$max-width})';
  } @else if $min-width {
    $query: '(min-width: #{$min-width})';
  } @else if $max-width {
    $query: '(max-width: #{$max-width})';
  }

  @if $name {
    $query: '#{$name} #{$query}';
  }

  @container #{$query} {
    @content;
  }
}

// Миксин для брейкпоинтов
@mixin container-breakpoint($breakpoint, $direction: 'min', $name: null) {
  $value: map-get($container-breakpoints, $breakpoint);

  @if not $value {
    @error "Breakpoint #{$breakpoint} not found in $container-breakpoints";
  }

  $query: '';

  @if $direction == 'min' {
    $query: '(min-width: #{$value})';
  } @else if $direction == 'max' {
    $query: '(max-width: #{$value - 1})';
  } @else if $direction == 'only' {
    $next-breakpoint: map-get($container-breakpoints, $breakpoint);
    $next-index: index(map-keys($container-breakpoints), $breakpoint) + 1;

    @if $next-index <= length($container-breakpoints) {
      $next-key: nth(map-keys($container-breakpoints), $next-index);
      $next-value: map-get($container-breakpoints, $next-key);
      $query: '(min-width: #{$value}) and (max-width: #{$next-value - 1})';
    } @else {
      $query: '(min-width: #{$value})';
    }
  }

  @if $name {
    $query: '#{$name} #{$query}';
  }

  @container #{$query} {
    @content;
  }
}
