@mixin page-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap-base);
  width: 100%;
  padding: 1rem 0 var(--padding-base) 0;
  @include page-layout-animation;
}

@mixin full-cover {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

@mixin line-on($side: top, $color: null) {
  position: relative;

  $pseudo: if($side == top, 'before', 'after');

  &::#{$pseudo} {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    #{$side}: 0;
    margin-inline: 1.5rem;

    @if $color {
      background: $color;
    } @else {
      background: linear-gradient(90deg, transparent, var(--color-border), transparent);
    }
  }
}

@mixin neon-line-on-top {
  @include line-on(top, var(--gradient-neon-line));
}

@mixin focus-visible {
  outline: 2px solid var(--color-primary-400);
  outline-offset: 2px;
}

@mixin page-layout-animation {
  animation: slideIn var(--transition-duration-slow) var(--transition-easing);
}
