@import '../../../../styles/animations';
@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.summary {
  gap: 0.25rem;
  padding: var(--padding-base) 1rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
