@import '../../../../styles/animations';
@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.summary {
  gap: var(--gap-base);
  padding: 1rem var(--padding-base);
}

.title {
  margin: 0;
  font-size: var(--text-3xl);
  font-weight: 100;
  letter-spacing: -0.025em;
  color: var(--color-text-primary);
  text-align: center;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
