@import '../../../../styles/animations';
@import '../../../../styles/mixins/mixins';
@import '../../../../styles/mixins/breakpoints';

.summary {
  gap: 0.25rem;
  padding: var(--space-3) 1rem;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
