@import '../../styles/mixins/mixins';

.layout {
  @include page-layout;
}

.title {
  padding: 0 1.5rem 0;
  margin: 0;
  font-size: var(--text-3xl);
  font-weight: 100;
  letter-spacing: -0.025em;
  color: var(--color-text-primary);
  text-align: center;
  width: 100%;
}
