@import '../../../../../styles/mixins/mixins';

.preview {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--color-surface-panel);
  border: var(--border-base);
  border-radius: var(--radius-card);
  padding: 0.5rem var(--option-padding);
}

.previewText {
  font-size: var(--text-2);
  font-weight: 300;
  color: var(--color-text-primary);
  line-height: 1.4;
  font-family: var(--font-family-sans), sans-serif;
}
